.rteEditor {
    margin-top: 1rem;
    padding: .25rem;
    border: 1px solid grey;
    border-radius: 0.6rem;
    // min-height: 300px;
    // max-height: 600px;
    // overflow-y: auto;
    background-color: white;
    }